body {
    font-family: Arial, sans-serif;
    background-color: light-red;
    margin: 30px;
    padding: 20px;
}

h1 {
    font-family: Tahoma, sans-serif;
    text-align: center;
    border-radius: 10px;
    background-color:light-blue;
    color: black;
    padding: 100px;
    margin: 50px;
}

nav ul {
    list-style-type: none;
    background-color: black;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.section-box {
    background-color: white;
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

h2, h3 {
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

a {
    display: block;
    margin: 10px;
    color: blue;
    text-align: center;
}
